<?xml version='1.0' encoding='UTF-8' ?>
<dataset>
    <user userid="3" name="李四" age="16" address="北京1"></user>
    <user userid="4" name="李四1" age="161" address="北京11"></user>
   <!-- <product id="1" type="4" name="馒头" status="1"></product>
    <product id="2" type="4" name="白菜" status="2"></product>-->
</dataset>
